root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{hs,hsc,lhs}]
indent_style = space
indent_size = 4
max_line_length = 80

[*.{c,h}]
indent_style = space
indent_size = 8
max_line_length = 80
